/*
----------------------------------------------
General CSS
----------------------------------------------
*/

$primary-color: #1BA39C;
$secondary-color: #34495E;
$tertiary-color: #ECF0F1;
$text-color: #787878;
$footer-color: #3E3E3E;
$copyright-color: #4C4C4C;

/* Bootstrap break points */

$max-xs: 543px;
$min-sm: 544px;
$max-sm: 767px;
$min-md: 768px;
$max-md: 991px;
$min-lg: 992px;
$max-lg: 1199px;
$min-xl: 1920px;

/* Margin Classes */

$lg-margin: 60px;
$sm-margin: 30px;
.no-margin,
.no-margin-top {
    margin-top: 0 !important;
}

.no-margin,
.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-md {
    @media(min-width: $min-md) {
        margin: 0 !important;
    }
}

.no-margin-lg {
    @media(min-width: $min-lg) {
        margin: 0 !important;
    }
}

.lg-margin-both,
.lg-margin-top {
    margin-top: $lg-margin !important;
}

.lg-margin-both,
.lg-margin-bottom {
    margin-bottom: $lg-margin !important;
}

.sm-margin-both,
.sm-margin-top {
    margin-top: $sm-margin !important;
}

.sm-margin-both,
.sm-margin-bottom {
    margin-bottom: $sm-margin !important;
}

.xs-padding-lg {
    @media(max-width: $max-sm) {
        padding-top: 60px;
    }
}


/* Padding Classes */

$lg-padding: 60px;
$sm-padding: 30px;
.no-padding,
.no-padding-top {
    padding-top: 0 !important;
}

.no-padding,
.no-padding-bottom {
    padding-bottom: 0 !important;
}

.lg-padding-both,
.lg-padding-top {
    padding-top: $lg-padding !important;
}

.lg-padding-both,
.lg-padding-bottom {
    padding-bottom: $lg-padding !important;
}

.sm-padding-both,
.sm-padding-top {
    padding-top: $sm-padding !important;
}

.sm-padding-both,
.sm-padding-bottom {
    padding-bottom: $sm-padding !important;
}


/*
----------------------------------------------
Main Body CSS
----------------------------------------------
*/

@font-face {
    font-family: "Century Gothic";
    src: url("../font/GOTHIC.TTF");
}

body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: $text-color;
    @media(min-width: $min-xl) {
        font-size: 16px;
    }
}


/* Header CSS */

#page-header {
    height: 658px;
    background-image: url("../images/hero-img-primary.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    #text {
        padding-top: 240px;
        text-align: center;
        color: white;
        strong {
            color: white;
        }
        h1 {
            margin-top: 0;
            font-size: 72px;
            margin-bottom: 30px;
        }
        h2 {
            font-size: 40px;
            font-style: italic;
        }
    }
    &.secondary {
        height: 165px;
        background-image: url("../images/hero-img-secondary.png");
        width: 100%;
        #text {
            padding-top: 50px;
            h1 {
                font-size: 60px;
                font-weight: bold;
            }
        }
        @media(max-width: $max-sm) {
            #text > h1 {
                font-size: 45px;
            }
        }
    }
    @media(max-width: $max-sm) {
        height: 165px;
        background-image: url("../images/hero-img-secondary.png");
        width: 100%;
        #text {
            padding-top: 50px;
            h1 {
                font-size: 35px;
            }
        }
    }
}


/* Footer CSS */

#footer {
    background-color: $footer-color;
    padding: 40px 0;
    ul {
        list-style: none;
        text-align: center;
        font-weight: bold;
        font-size: 13px;
        @media(min-width: $min-xl) {
            font-size: 16px;
        }
        li {
            display: inline-block;
            margin-right: 30px;
            a {
                color: white;
                text-decoration: none;
                text-transform: lowercase;
            }
        }
        &.social-media {
            a {
                color: $footer-color;
            }
        }
    }
}

#copyright {
    background-color: $copyright-color;
    padding: 20px 0;
    p,
    strong {
        color: white;
        text-transform: lowercase;
        margin: 0;
    }
}


/*header of all the sections*/

.section-header {
    h1 {
        font-size: 30px;
        text-align: center;
        margin: 0;
        color: $secondary-color;
    }
}


/* content for all the section-headerions */

.section-content {
    text-align: center;
    font-size: 13px;
    @media(min-width: $min-xl) {
        font-size: 16px;
    }
    h2 {
        color: $secondary-color;
        margin: 20px 0;
        font-size: 16px;
        font-weight: bold;
        @media(min-width: $min-xl) {
            font-size: 18px;
        }
    }
}


/* section contains a main icon */

.section-icon {
    margin: 60px auto;
    width: 540px;
    @media(max-width: $max-sm) {
        width: 256px;
    }
}


/* section contains a main icon */

.section-image {
    margin: 0 auto;
    width: 940px;
}

.bg-secondary {
    background-color: $tertiary-color;
}

.error-link {
    color: $secondary-color;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        color: $secondary-color;
        text-decoration: none;
    }
}


/* Button Classes */

.btn {
    border-radius: 5px;
    font-weight: bold;
    min-width: 120px;
    font-size: 13px;
    @media(min-width: $min-xl) {
        font-size: 16px;
    }
}

@mixin make-button($bg-color,
$border-color,
$text-color) {
    background-color: $bg-color !important;
    border-color: $border-color !important;
    color: $text-color !important;
    &.active,
    &.focus,
    &.hover,
    &:active,
    &:active:focus,
    &:focus,
    &:hover {
        background-color: $text-color !important;
        border-color: $border-color !important;
        color: $bg-color !important;
    }
}

.btn-primary {
    @include make-button($primary-color,
    $primary-color,
    white);
}


/* Back to top css */

.back-to-top {
    $duration: 500ms;
    $translateY: 100px;
    position: fixed;
    margin: 0;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    -webkit-transform: translateY($translateY);
    -ms-transform: translateY($translateY);
    transform: translateY($translateY);
    -webkit-transition-duration: $duration;
    -ms-transition: $duration;
    transition-duration: $duration;
    img {
        width: 40px;
        height: 40px;
    }
    &.active {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}


/*
----------------------------------------------
Navbar CSS
----------------------------------------------
*/

$bgDefault: #1BA39C;
$bgHighlight: #1BA39C;
$colDefault: #ffffff;
$colHighlight: #ffffff;
$dropDown: false;
.navbar {
    margin-bottom: 0;
    min-height: 60px;
}


/* Center Navbar */

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}


/* Navbar Logo */

#xs-logo-navbar {
    // Center along navbar
    display: block;
    width: 100%;
    margin: 10px auto;
    padding-left: 59px;
    // 44px (dropdown) + 15px (container)
    img {
        width: 40px;
        height: 40px;
        margin: 0 auto;
        display: block;
    }
}

#logo-navbar {
    padding-top: 10px;
    // Reset styling used for other text links inside navbar
    a {
        margin: 0;
        padding: 0;
        border: 0;
    }
    img {
        width: 40px;
        height: 40px;
    }
}


/* Color the Navbar */

.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        strong {
            color: $colDefault;
        }
        &:focus,
        &:hover {
            color: $colHighlight;
        }
    }
    .navbar-text {
        color: $colDefault;
    }
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                text-transform: lowercase;
                font-size: 13px;
                font-weight: bold;
                border-bottom: 1px solid $bgDefault;
                // Reduce padding and use margins for underline effect;
                padding: 19px 0 5px;
                margin: 0 15px 10px;
                &:focus,
                &:hover {
                    color: $colHighlight;
                    border-color: $colHighlight;
                }
                @media(min-width: $min-xl) {
                    font-size: 16px;
                }
            }
        }
        > .active {
            > a,
            > a:hover,
            > a:focus {
                color: $colHighlight;
                border-color: $colHighlight;
                background-color: $bgHighlight; // set underline when active
            }
        }
        > .open {
            > a,
            > a:hover,
            > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }
    .navbar-toggle {
        border-color: $bgHighlight;
        // Center Navbar vertically due to logo
        margin-top: 13px;
        margin-bottom: 13px;
        &:focus,
        &:hover {
            background-color: $bgHighlight;
        }
        .icon-bar {
            background-color: $colDefault;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: $colDefault;
    }
    .navbar-link {
        color: $colDefault;
        &:hover {
            color: $colHighlight;
        }
    }
    /* DropDown(project) CSS */
      li.dropdown:hover ul.dropdown-menu {
            display: block;
        }
    .dropdown-menu>li>a {
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #ffffff;
        text-transform: lowercase;
        font-size: 13px;
        font-weight: bold;
        white-space: nowrap;
        margin: 0px;
        
    }
    .dropdown-menu {
        -webkit-box-shadow: none;
        left: -22px;
        background-color: $primary-color;
        border: none;
        text-align: center;
        min-width: 130px;
    }
    .dropdown-menu {
        li {
            a:hover {
                background: none;
                    }
        }
    }
     /* DropDown(project) CSS  ENDS*/
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: $colDefault;
            &:focus,
            &:hover {
                color: $colHighlight;
            }
        }
        > .active {
            > a,
            > a:hover,
            > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }
}


/*
----------------------------------------------
Home Page CSS
----------------------------------------------
*/

.service-block {
    .icon {
        span {
            padding: 0.5em;
            color: $secondary-color;
            border: 2px solid $secondary-color;
            border-radius: 50%;
            font-size: 2em;
            &.more-padding {
                padding: 0.5em 0.6em;
            }
            &.more-padding-2 {
                padding: 0.5em 0.7em;
            }
        }
    }
    h2 {
        color: $secondary-color;
        margin: 20px 0;
    }
    p {
        margin: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    @media(max-width: $max-md) {
        margin-bottom: 30px;
        &.last {
            margin-bottom: 0;
        }
    }
}


/*
----------------------------------------------
Services Page CSS
----------------------------------------------
*/

.services-deliver {
    padding-top: $lg-padding;
    padding-bottom: $lg-padding - 12px;
    .section-image {
        margin-top: $lg-margin - 12px;
    }
}

.services-row {
    margin-bottom: $lg-margin;
    @media(max-width: $max-sm) {
        margin-bottom: 0;
    }
}


/*
----------------------------------------------
About Us Page CSS
----------------------------------------------
*/

#history-carousel {
    .carousel-inner {
        min-height: 350px;
    }
    .carousel-indicators {
        bottom: -60px;
        li {
            border-color: $primary-color;
            &.active {
                background-color: $primary-color;
            }
        }
    }
}

.history-block {
    .icon {
        display: block;
        span {
            padding: 13px;
            color: $secondary-color;
            border: 2px solid $secondary-color;
            border-radius: 50%;
            font-size: 2em;
            margin-bottom: 20px;
        }
    }
    h2 {
        color: $secondary-color;
        margin: 30px 0 20px;
    }
    p {
        margin: 0;
    }
    @media(max-width: $max-sm) {
        margin-bottom: 50px;
        &.last {
            margin-bottom: 0;
        }
    }
}

.team-member {
    margin-bottom: 60px;
    img {
        width: 256px;
    }
    .name {
        margin-bottom: 0;
    }
    .job {
        margin: 0;
        font-weight: normal;
    }
}


/*
----------------------------------------------
Contact Us Page CSS
----------------------------------------------
*/

.contact {
    .form-group {
        margin-bottom: 20px;
    }
    .form-control {
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        border-radius: 0;
        color: white;
        background-color: $primary-color;
    }
    /* Mak placeholder color white */
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: white;
    }
    input:-moz-placeholder,
    textarea:-moz-placeholder {
        color: white;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder {
        color: white;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: white;
    }
    #form_result {
        text-align: center;
        p {
            margin: 0;
            font-size: 16px;
        }
        &.success {
            p {
                color: $primary-color;
            }
        }
        &.error {
            p {
                color: #c0392b;
            }
        }
    }
    #comment {
        max-width: 100%;
    }
    .address {
        margin-bottom: 0;
        padding-right: 0;
    }
    .address,
    .address > address {
        font-size: 20px;
        color: $secondary-color;
        p {
            margin: 0;
        }
        a {
            text-decoration: none;
            color: $secondary-color;
        }
    }
}

#map {
    height: 400px;
    &.nojs {
        background-image: url("../images/map.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}


/*
----------------------------------------------
Policies Pages CSS
----------------------------------------------
*/

.terms {
    h2 {
        font-size: 30px;
        margin: 20px 0;
        color: #34495E;
    }
    li,
    p,
    table td {
        font-weight: 300;
    }
    ol > h2,
    table {
        margin-left: -40px;
    }
    table {
        td:first-of-type {
            min-width: 200px;
            @media(max-width: 767px) {
                min-width: auto;
            }
        }
    }
}