/*
----------------------------------------------
General CSS
----------------------------------------------
*/
/* Bootstrap break points */
/* Margin Classes */
.no-margin,
.no-margin-top {
  margin-top: 0 !important; }

.no-margin,
.no-margin-bottom {
  margin-bottom: 0 !important; }

@media (min-width: 768px) {
  .no-margin-md {
    margin: 0 !important; } }

@media (min-width: 992px) {
  .no-margin-lg {
    margin: 0 !important; } }

.lg-margin-both,
.lg-margin-top {
  margin-top: 60px !important; }

.lg-margin-both,
.lg-margin-bottom {
  margin-bottom: 60px !important; }

.sm-margin-both,
.sm-margin-top {
  margin-top: 30px !important; }

.sm-margin-both,
.sm-margin-bottom {
  margin-bottom: 30px !important; }

@media (max-width: 767px) {
  .xs-padding-lg {
    padding-top: 60px; } }

/* Padding Classes */
.no-padding,
.no-padding-top {
  padding-top: 0 !important; }

.no-padding,
.no-padding-bottom {
  padding-bottom: 0 !important; }

.lg-padding-both,
.lg-padding-top {
  padding-top: 60px !important; }

.lg-padding-both,
.lg-padding-bottom {
  padding-bottom: 60px !important; }

.sm-padding-both,
.sm-padding-top {
  padding-top: 30px !important; }

.sm-padding-both,
.sm-padding-bottom {
  padding-bottom: 30px !important; }

/*
----------------------------------------------
Main Body CSS
----------------------------------------------
*/
@font-face {
  font-family: "Century Gothic";
  src: url("../font/GOTHIC.TTF"); }
body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: #787878; }
  @media (min-width: 1920px) {
    body {
      font-size: 16px; } }

/* Header CSS */
#page-header {
  height: 658px;
  background-image: url("../images/hero-img-primary.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #page-header #text {
    padding-top: 240px;
    text-align: center;
    color: white; }
    #page-header #text strong {
      color: white; }
    #page-header #text h1 {
      margin-top: 0;
      font-size: 72px;
      margin-bottom: 30px; }
    #page-header #text h2 {
      font-size: 40px;
      font-style: italic; }
  #page-header.secondary {
    height: 165px;
    background-image: url("../images/hero-img-secondary.png");
    width: 100%; }
    #page-header.secondary #text {
      padding-top: 50px; }
      #page-header.secondary #text h1 {
        font-size: 60px;
        font-weight: bold; }
    @media (max-width: 767px) {
      #page-header.secondary #text > h1 {
        font-size: 45px; } }
  @media (max-width: 767px) {
    #page-header {
      height: 165px;
      background-image: url("../images/hero-img-secondary.png");
      width: 100%; }
      #page-header #text {
        padding-top: 50px; }
        #page-header #text h1 {
          font-size: 35px; } }

/* Footer CSS */
#footer {
  background-color: #3E3E3E;
  padding: 40px 0; }
  #footer ul {
    list-style: none;
    text-align: center;
    font-weight: bold;
    font-size: 13px; }
    @media (min-width: 1920px) {
      #footer ul {
        font-size: 16px; } }
    #footer ul li {
      display: inline-block;
      margin-right: 30px; }
      #footer ul li a {
        color: white;
        text-decoration: none;
        text-transform: lowercase; }
    #footer ul.social-media a {
      color: #3E3E3E; }

#copyright {
  background-color: #4C4C4C;
  padding: 20px 0; }
  #copyright p,
  #copyright strong {
    color: white;
    text-transform: lowercase;
    margin: 0; }

/*header of all the sections*/
.section-header h1 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  color: #34495E; }

/* content for all the section-headerions */
.section-content {
  text-align: center;
  font-size: 13px; }
  @media (min-width: 1920px) {
    .section-content {
      font-size: 16px; } }
  .section-content h2 {
    color: #34495E;
    margin: 20px 0;
    font-size: 16px;
    font-weight: bold; }
    @media (min-width: 1920px) {
      .section-content h2 {
        font-size: 18px; } }

/* section contains a main icon */
.section-icon {
  margin: 60px auto;
  width: 540px; }
  @media (max-width: 767px) {
    .section-icon {
      width: 256px; } }

/* section contains a main icon */
.section-image {
  margin: 0 auto;
  width: 940px; }

.bg-secondary {
  background-color: #ECF0F1; }

.error-link {
  color: #34495E;
  text-decoration: none;
  font-weight: bold; }
  .error-link:hover {
    color: #34495E;
    text-decoration: none; }

/* Button Classes */
.btn {
  border-radius: 5px;
  font-weight: bold;
  min-width: 120px;
  font-size: 13px; }
  @media (min-width: 1920px) {
    .btn {
      font-size: 16px; } }

.btn-primary {
  background-color: #1BA39C !important;
  border-color: #1BA39C !important;
  color: white !important; }
  .btn-primary.active, .btn-primary.focus, .btn-primary.hover, .btn-primary:active, .btn-primary:active:focus, .btn-primary:focus, .btn-primary:hover {
    background-color: white !important;
    border-color: #1BA39C !important;
    color: #1BA39C !important; }

/* Back to top css */
.back-to-top {
  position: fixed;
  margin: 0;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition-duration: 500ms;
  -ms-transition: 500ms;
  transition-duration: 500ms; }
  .back-to-top img {
    width: 40px;
    height: 40px; }
  .back-to-top.active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

/*
----------------------------------------------
Navbar CSS
----------------------------------------------
*/
.navbar {
  margin-bottom: 0;
  min-height: 60px; }

/* Center Navbar */
.navbar .navbar-nav {
  display: inline-block;
  float: none; }

.navbar .navbar-collapse {
  text-align: center; }

/* Navbar Logo */
#xs-logo-navbar {
  display: block;
  width: 100%;
  margin: 10px auto;
  padding-left: 59px; }
  #xs-logo-navbar img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block; }

#logo-navbar {
  padding-top: 10px; }
  #logo-navbar a {
    margin: 0;
    padding: 0;
    border: 0; }
  #logo-navbar img {
    width: 40px;
    height: 40px; }

/* Color the Navbar */
.navbar-default {
  background-color: #1BA39C;
  border-color: #1BA39C;
  /* DropDown(project) CSS */
  /* DropDown(project) CSS  ENDS*/ }
  .navbar-default .navbar-brand {
    color: #ffffff; }
    .navbar-default .navbar-brand strong {
      color: #ffffff; }
    .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
      color: #ffffff; }
  .navbar-default .navbar-text {
    color: #ffffff; }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    text-transform: lowercase;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #1BA39C;
    padding: 19px 0 5px;
    margin: 0 15px 10px; }
    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
      color: #ffffff;
      border-color: #ffffff; }
    @media (min-width: 1920px) {
      .navbar-default .navbar-nav > li > a {
        font-size: 16px; } }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    border-color: #ffffff;
    background-color: #1BA39C; }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #1BA39C; }
  .navbar-default .navbar-toggle {
    border-color: #1BA39C;
    margin-top: 13px;
    margin-bottom: 13px; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: #1BA39C; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ffffff; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ffffff; }
  .navbar-default .navbar-link {
    color: #ffffff; }
    .navbar-default .navbar-link:hover {
      color: #ffffff; }
  .navbar-default li.dropdown:hover ul.dropdown-menu {
    display: block; }
  .navbar-default .dropdown-menu > li > a {
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #ffffff;
    text-transform: lowercase;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
    margin: 0px; }
  .navbar-default .dropdown-menu {
    -webkit-box-shadow: none;
    left: -22px;
    background-color: #1BA39C;
    border: none;
    text-align: center;
    min-width: 130px; }
  .navbar-default .dropdown-menu li a:hover {
    background: none; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
      color: #ffffff; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #1BA39C; } }
/*
----------------------------------------------
Home Page CSS
----------------------------------------------
*/
.service-block .icon span {
  padding: 0.5em;
  color: #34495E;
  border: 2px solid #34495E;
  border-radius: 50%;
  font-size: 2em; }
  .service-block .icon span.more-padding {
    padding: 0.5em 0.6em; }
  .service-block .icon span.more-padding-2 {
    padding: 0.5em 0.7em; }
.service-block h2 {
  color: #34495E;
  margin: 20px 0; }
.service-block p {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px; }
@media (max-width: 991px) {
  .service-block {
    margin-bottom: 30px; }
    .service-block.last {
      margin-bottom: 0; } }

/*
----------------------------------------------
Services Page CSS
----------------------------------------------
*/
.services-deliver {
  padding-top: 60px;
  padding-bottom: 48px; }
  .services-deliver .section-image {
    margin-top: 48px; }

.services-row {
  margin-bottom: 60px; }
  @media (max-width: 767px) {
    .services-row {
      margin-bottom: 0; } }

/*
----------------------------------------------
About Us Page CSS
----------------------------------------------
*/
#history-carousel .carousel-inner {
  min-height: 350px; }
#history-carousel .carousel-indicators {
  bottom: -60px; }
  #history-carousel .carousel-indicators li {
    border-color: #1BA39C; }
    #history-carousel .carousel-indicators li.active {
      background-color: #1BA39C; }

.history-block .icon {
  display: block; }
  .history-block .icon span {
    padding: 13px;
    color: #34495E;
    border: 2px solid #34495E;
    border-radius: 50%;
    font-size: 2em;
    margin-bottom: 20px; }
.history-block h2 {
  color: #34495E;
  margin: 30px 0 20px; }
.history-block p {
  margin: 0; }
@media (max-width: 767px) {
  .history-block {
    margin-bottom: 50px; }
    .history-block.last {
      margin-bottom: 0; } }

.team-member {
  margin-bottom: 60px; }
  .team-member img {
    width: 256px; }
  .team-member .name {
    margin-bottom: 0; }
  .team-member .job {
    margin: 0;
    font-weight: normal; }

/*
----------------------------------------------
Contact Us Page CSS
----------------------------------------------
*/
.contact {
  /* Mak placeholder color white */ }
  .contact .form-group {
    margin-bottom: 20px; }
  .contact .form-control {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    color: white;
    background-color: #1BA39C; }
  .contact input::-webkit-input-placeholder,
  .contact textarea::-webkit-input-placeholder {
    color: white; }
  .contact input:-moz-placeholder,
  .contact textarea:-moz-placeholder {
    color: white; }
  .contact input::-moz-placeholder,
  .contact textarea::-moz-placeholder {
    color: white; }
  .contact input:-ms-input-placeholder,
  .contact textarea:-ms-input-placeholder {
    color: white; }
  .contact #form_result {
    text-align: center; }
    .contact #form_result p {
      margin: 0;
      font-size: 16px; }
    .contact #form_result.success p {
      color: #1BA39C; }
    .contact #form_result.error p {
      color: #c0392b; }
  .contact #comment {
    max-width: 100%; }
  .contact .address {
    margin-bottom: 0;
    padding-right: 0; }
  .contact .address,
  .contact .address > address {
    font-size: 20px;
    color: #34495E; }
    .contact .address p,
    .contact .address > address p {
      margin: 0; }
    .contact .address a,
    .contact .address > address a {
      text-decoration: none;
      color: #34495E; }

#map {
  height: 400px; }
  #map.nojs {
    background-image: url("../images/map.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

/*
----------------------------------------------
Policies Pages CSS
----------------------------------------------
*/
.terms h2 {
  font-size: 30px;
  margin: 20px 0;
  color: #34495E; }
.terms li,
.terms p,
.terms table td {
  font-weight: 300; }
.terms ol > h2,
.terms table {
  margin-left: -40px; }
.terms table td:first-of-type {
  min-width: 200px; }
  @media (max-width: 767px) {
    .terms table td:first-of-type {
      min-width: auto; } }

/*# sourceMappingURL=template.css.map */
