<!-- Our History START -->
<section class="bg-secondary lg-padding-both">
    <div class="container">
        <div class="row section-content">
            <div class="col-xs-12 section-header sm-margin-bottom">
                <h1>Our History</h1>
            </div>

            <div class="col-xs-10 col-xs-offset-1">
                <div id="history-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#history-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#history-carousel" data-slide-to="1"></li>
                        <li data-target="#history-carousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner sm-padding-top lg-margin-bottom" role="listbox">

                        <!-- History Section 1 -->
                        <div class="item active">
                            <div class="row">

                                <!-- History Item 1  -->
                                <div class="col-xs-12 col-sm-6 history-block">
                                    <!-- Icon -->
                                    <div class="icon">
                                        <span>01</span>
                                    </div>
                                    <!-- Date/Content -->
                                    <h2>11 April 2016</h2>
                                    <p>
                                        Once a vision of two people applying advanced technologies, now Paella became a group of six members in making this goal possible. Each member with a valuable skill of input to the business but also able to build and develop their skills together within
                                        the company. Even thou the office motto is WORK! WORK! WORK! they aim to have fun, laughter and enjoyment throughout the day.
                                    </p>
                                </div>

                                <!-- History Item 2  -->
                                <div class="col-xs-12 col-sm-6 history-block no-margin-bottom">
                                    <!-- Icon -->
                                    <div class="icon">
                                        <span>02</span>
                                    </div>
                                    <!-- Date/Content -->
                                    <h2>20 January 2016</h2>
                                    <p>
                                        Two months in, Paella are still going strong and achieving every target it sets out for itself…. We don’t know what the future holds for Paella, but we do know what we can bring towards our clients; which is ultimate services using the best advanced technologies
                                        in the projects we produce. More exciting things are head for Paella this year, so keep a lookout on what we post on our Blog or Timeline.
                                    </p>
                                </div>

                            </div>
                        </div>

                        <!-- History Section 2 -->
                        <div class="item">
                            <div class="row">

                                <!-- History Item 3  -->
                                <div class="col-xs-12 col-sm-6 history-block">
                                    <!-- Icon -->
                                    <div class="icon">
                                        <span>03</span>
                                    </div>
                                    <!-- Date/Content -->
                                    <h2>23 September 2013</h2>
                                    <p>
                                        Persistent in making this business a success, they dived in straight away after graduating on several software projects. For the past 2 years and half, each of these projects they used different kind of Machine Learning techniques, iOS/Android app development
                                        and Artificial Intelligence Integration in the services they provided for their customers. Through hard work and perseverance along the way Paella Intelligence LTD, client base expanded and the work load grew. This
                                        did not scary or stop them but gave them the opportunity in expanding the business more ways the one. The two Co- Founders moved to an office in central London and hired four new members to their team.
                                    </p>
                                </div>

                                <!-- History Item 4  -->
                                <div class="col-xs-12 col-sm-6 history-block no-margin-bottom">
                                    <!-- Icon -->
                                    <div class="icon">
                                        <span>04</span>
                                    </div>
                                    <!-- Date/Content -->
                                    <h2>01 September 2013</h2>
                                    <p>
                                        A year later Zheng graduated first in his class on Artificial Intelligence and Kaiyan on Advanced Computing. After back and forth conversations on their passion for robotics and technology, they decided to take their final project to another step further
                                        by starting a business together. On the same month they made it official and Paella Intelligence was born, two young entrepreneurs were determined in making their plan a realty.
                                    </p>
                                </div>

                            </div>
                        </div>

                        <!-- History Section 3 -->
                        <div class="item">
                            <div class="row">

                                <!-- History Item 5  -->
                                <div class="col-xs-12 col-sm-6 history-block">
                                    <!-- Icon -->
                                    <div class="icon">
                                        <span>05</span>
                                    </div>
                                    <!-- Date/Content -->
                                    <h2>01 October 2012</h2>
                                    <p>
                                        The history of Paella Intelligence started here at Imperial College when Kaiyan first meet Zheng. Two young entrepreneurs fully loaded with energy and passion, had the same version in marking their signature on the industry by applying Machine Learning
                                        technologies in people’s everyday life. Professor Abbas Edalat did not release what he was forming when he requested for these students to join forces on a project together. After a great collaboration at Imperial
                                        on their independent project as well as their final project, they both enjoyed the relationship they had built working together and how each person had something to bring to the table. From Zheng background knowledge
                                        in Automatic Control System and Kaiyan past studies in Electronic Engineering they were a powerful team.
                                    </p>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- /.carousel-inner -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our History END -->
